@page "/pondDetails/{Id:int}"
@inject IPondService PondService
@inject NavigationManager Navigation
@inject IConfiguration Configuration
@using KoiFishManager.Models

@if (pond == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <div>
        <h3 style="margin-bottom: 10px;">@pond.Name</h3>
        <p><strong>Kích thước:</strong> @pond.Size m²</p>
        <p><strong>Độ sâu:</strong> @pond.Depth m</p>
        <p><strong>Chất lượng nước:</strong> @pond.WaterQuality</p>
        <p><strong>Số lượng cá:</strong> @pond.KoiFishes.Count</p>
        <p><strong>Tạo lúc:</strong> @pond.CreatedAt.ToString(Configuration["DateTimeFormat"])</p>
        <p><strong>Cập nhật lúc:</strong> @pond.UpdatedAt.ToString(Configuration["DateTimeFormat"])</p>
    </div>

    <!-- Display Koi Fishes -->
    <div>
       <p><strong>Danh sách cá Koi trong hồ (@pond.KoiFishes.Count)</strong></p>
        @if (pond.KoiFishes.Count == 0)
        {
            <p>Không có cá trong hồ.</p>
        }
        else
        {
            <ul>
                @foreach (var fish in pond.KoiFishes)
                {
                    <li>@fish.Name (Màu sắc: @fish.Color, Kích thước: @fish.Size cm, Xuất xứ: @fish.Origin, Sức khỏe: @fish.HealthStatus)</li>
                }
            </ul>
        }
    </div>

    <!-- Display Feeding Schedule -->
    <div>
        <p><strong>Lịch cho ăn (@pond.FeedingSchedules.Count)</strong></p>
        @if (pond.FeedingSchedules.Count == 0)
        {
            <p>Không tìm thấy lịch cho ăn.</p>
        }
        else
        {
            <ul>
                @foreach (var schedule in pond.FeedingSchedules)
                {
                    <li>@schedule.FeedingTime.ToString(Configuration["DateTimeFormat"]) - Loại thức ăn: @schedule.FoodType, Số lượng: @schedule.Quantity grams</li>
                }
            </ul>
        }
    </div>

    <!-- Display Pond Status -->
    <div>
       <p><strong>Tình trạng hồ (@pond.PondStatuses.Count)</strong></p>
        @if (pond.PondStatuses.Count == 0)
        {
            <p>Không tìm thấy tình trạng hồ.</p>
        }
        else
        {
            <ul>
                @foreach (var status in pond.PondStatuses)
                {
                    <li>Nhiệt độ: @status.Temperature °C, Độ pH: @status.PHLevel, Mực nước: @status.WaterLevel m, Ghi nhận lúc: @status.RecordedAt.ToString(Configuration["DateTimeFormat"])</li>
                }
            </ul>
        }
    </div>

    <div class="mt-4">
        <a href="/ponds" class="btn btn-primary">Danh Sách Hồ</a>
    </div>
}

@code {
    [Parameter] public int Id { get; set; }
    private PondResponse pond = new PondResponse();

    protected override async Task OnInitializedAsync()
    {
        pond = await PondService.GetPondByIdAsync(Id);
    }

 
}
